.log-section{
    padding-bottom: 10vh;
}

.login {
  width: 30rem;
  height: 35rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.login:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(219, 217, 217, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.input-field {
  width: 100%;
  padding: 7px;
  outline: #ffffff;
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  color: #ffffff;
  background-color: #ffffff47;
  transition: all 0.3s ease-in;
  font-size: 20px;
}

.input-field:focus {
  border: 3px solid #dc98ff;
  background-color: #00000047;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 25px;
  border: 2px solid #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #00000054;
  transition: all 0.2s ease-in;
}

.submit-btn:hover {
  background-color: #9c00eb7a;
}

.google-btn {
  width: 100%;
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  color: #ffffff;
  background-color: #0000008a;
  transition: all 0.3s ease-in;
  font-size: 20px;
  padding: 7px;
  transition: all 0.3s ease-in;
}

.submit-btn:hover,
.google-btn:hover {
  background-color: #9c00eb7a;
}
